#Shop {
    height: 1000px;
    width: 100%;
    background-image: url(../../../public/Images/Shop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arimo', sans-serif;
}
#Shop .head {
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: 400;
    color: var(--white);
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 150px;
}
#Shop .head span {
    color: var(--main-color);
}
#Shop .container-tabs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%;
    background: transparent;
    word-break: break-all;
}
#Shop .bloc-tabs {
    display: flex;
}
#Shop button {
    border: none;
}
#Shop .tabs {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 20%;
    cursor: pointer;
    background: transparent;
    border-bottom: 1px solid #9E9E9E;
    box-sizing: content-box;
    position: relative;
    outline: none;
}
#Shop .tabs img{
    width: 70px;
    height: 70px;
}
#Shop .tabs:nth-child(3) span{
    margin-top: 5px;
}
#Shop .tabs:nth-child(5) span,#Shop .tabs:nth-child(4) span{
    margin-top: 10px;
}
#Shop .tabs span {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    color:var(--white);
}
#Shop .active-tabs {
    border-bottom: 1px solid var(--main-color);
}
#Shop .active-tabs img {
    filter: brightness(0) saturate(100%) invert(76%) sepia(5%) saturate(4633%) hue-rotate(348deg) brightness(95%) contrast(70%);
}
#Shop .active-tabs span{
    color:var(--main-color) !important;
}
#Shop .content-tabs {   
    flex-grow : 1;
}
.content {
    margin-top: 40px;
    width: 100%;
    height: 500px;
    display: none;
}
.active-content {
    display: block;
}
/*Cards*/
.slick-slide > div {
    margin: 0 30px;
}
.slick-list {
    margin: 0 -30px;
}
.MenuCard {
    margin-bottom: 50px !important;
}
.MenuCard .card {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: var(--white);
    position: relative;
    padding: 30px 30px 50px 30px;
    transition: 0.5s ease-out;
    overflow: visible;
    border: 3px solid var(--white);
    font-family: 'Arimo', sans-serif;
    cursor: pointer;
}
.MenuCard .card-price {
    width:70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid var(--white);
    background-color: var(--main-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -70px;
    right:-155px;
    font-family: 'KG Drops of Jupiter', sans-serif;
    color: var(--white);
    font-size: 20px;
}
.MenuCard .card-image {
    height: 250px;
    margin-top: 0px;
}   
.MenuCard .card-image img {
    width: 240px;
    height: 224px;
    border-radius: 50%;
}
.MenuCard .card-details {
    text-align: center;
    margin-top: 10px;
}
.MenuCard .card-details h1 {
    color: var(--secondary-color);
    font-weight: 500;
}  
.MenuCard .card-details p {
    color:#777777;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 15px;
}
.MenuCard .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 25px;
    border: none;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}   
.text-body {
    color: rgb(134, 134, 134);
}
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}
.card:hover {
    border-color: var(--main-color);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}
.dialog-demo .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.dialog-demo p {
    margin: 0;
    line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
    min-width: 6rem;
}